{% extends "main.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="assets/css/main.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="assets/js/main.js"></script>
{% endblock %}

{% block tabs %}
  {{ super() }}
  <div class="jcm-custom-wrapper">
    <div class="super-container">
      <div class="background">
        <div class="inner-background">
          
        </div>
      </div>
      <div class="jcm-container">
        <div class="jcm-container-logo">
          <img alt="JCM Logo" src="assets/img/logo.jpg">
        </div>
        <div>
          <div class="anim-popout-container">
            <h2 class="anim-popout">Enrich your MTR world!</h2>
          </div>
          <p>NeoJCM is an addon for the NeoMTR mod, adding various railway facilities block in Hong Kong to help you build your very own railway system! </p>

          <div class="button-row">
            <a class="link-button download mtr4" href="../v2/players/download">Download JCM for MTR 4</a>
            <div class="link-group">
              <a class="link-button download mtr3" href="../v1/players/download">Download JCM for MTR 3</a>
              <a class="hidden link-button download mtr3" href="players/download">Download NeoJCM</a>
            </div>
            <a href="/players/">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <main id="main">
      <section id="blocks">
        <h1 id="title" class="title">Comprehensive</h1>
        <p class="description">With 50+ decoration blocks, NeoJCM offers one of the most complete set of railway facilities blocks ready to be used on your next build!</p>
        <div class="scroll">
          <div class="scroll-inner"></div>
        </div>
        <div class="scroll">
          <div class="scroll-inner reverse"></div>
        </div>
      </section>
      <section id="customizable">
        <h1 class="title">Your world, your way</h1>
        <p>From PIDS to Decoration Block, NeoJCM puts you in the control of how you want things to look and behaves.</p>
        <div class="pids-demo">
          <img class="bg" alt="" src="assets/img/jcm-pids.jpg">
          <div class="pids-model">
            <img alt="" class="model" src="assets/img/pids-model.png">
            <img alt="" class="content" src="assets/img/pids/pids0.png">
            <img alt="" class="content" src="assets/img/pids/pids1.png">
            <img alt="" class="content" src="assets/img/pids/pids2.png">
            <img alt="" class="content" src="assets/img/pids/pids3.png">
            <img alt="" class="content" src="assets/img/pids/pids4.png">
            <img alt="" class="content" src="assets/img/pids/pids5.png">
            <img alt="" class="content" src="assets/img/pids/pids6.png">
          </div>
        </div>
      </section>
      <div class="jcm-container">
        <div class="jcm-container-logo">
          <img alt="MTR Logo" src="assets/img/mtr.png">
        </div>
        <div>
          <h2>Don't have NeoMTR yet?</h2>
          <p>NeoMTR is a Minecraft mod for building automated transit network, it is an unofficial derivative of the Minecraft Transit Railway 3.x mod</p>
          <p>It works together with the NeoJCM to create a seamless experience between your Minecraft world and modern transportations.</p>
          <div class="button-row">
            <a class="link-button download mtr4" href="https://modrinth.com/mod/neomtr">Download NeoMTR</a>
            <a class="link-button wiki" href="https://wiki.minecrafttransitrailway.com">View the MTR Wiki</a>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block content %}{% endblock %}