@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

.md-grid {
  max-width: 1450px; 
}

.jcm-tag {
  padding: .15rem .4rem;
  border-radius: 0.125rem;
  font-size: 0.75rem;
  margin: 0 0.35rem;
}

.jcm-tag.unsupported {
  background: #666;
  color: white;
}

.jcm-tag.supported {
  background: #0A0;
  color: white;
}

.jcm-tag.amber {
  background: #F1BC41;
  color: black;
}

.crafting {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0.25rem;
}

.crafting-arrow {
  content: "";
  display: inline-block;
  height: 36px;
  width: 60px;
  background-image: url("/players/blocks/crafting/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.crafting-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.crafting-table > div, .crafting-result {
  position: relative;
  background-color: #8b8b8b;
  border-top: 2px solid #353535;
  border-left: 2px solid #353535;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  width: 1.85rem;
  height: 1.85rem;
}

.crafting-table > div::before, .crafting-result::before {
  position: absolute;
  color: white;
  text-shadow: #111 1px 1px 2px;
  bottom: 0;
  right: 0;
  line-height: 1;
  content: attr(data-count);
}